.pc {
  padding-bottom: 200px;
  &__top {
    margin-bottom: 80px;
    &__start {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
    &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 67px;
      color: #ffffff;
    }
    &__text {
      max-width: 411px;
      color: #ffffff;
      opacity: 0.5;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
    }
  }
  &__bottom {
    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 50px;
      color: #ffffff;
    }
    &__text {
      max-width: 306px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      opacity: 0.5;
    }
  }
  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__card {
    &-1 {
      width: 324px;
      height: 80px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    }
    &-2 {
      width: 324px;
      height: 60px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    }
    &-3 {
      width: 324px;
      height: 30px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    }
    &-4 {
      width: 324px;
      height: 10px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    }
  }
  &__texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
